<!DOCTYPE html>
<html>
<head>
  <title>Bone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12" id="inspector"></div>
  </div>
  <div class="row">
    <div class="col-md-6" id="unchecked-things"></div>
    <div class="col-md-6" id="checked-things"></div>
  </div>
</div>

</body>
</html>
